#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body{
    background: linear-gradient(#ff0000,#0014ff,#ff7e00);
}

h1{
    color:white;
}

h2{
    color:white;
}

h3{
    color: white;
}


p{
    color:white;
}

label{
    color:white;
}

